$base-gap: 8px !important;

@mixin universal-color($property, $opacity) {
  #{$property}: rgba(194, 202, 242, $opacity) !important;
}

.yoy0721-trae-theme-themes-dark_plus-json {
  background-color: #24262b !important;

  > .monaco-grid-view {
    > .monaco-grid-branch-node {
      > .monaco-split-view2.vertical {
        > .monaco-scrollable-element {
          > .split-view-container {
            > .split-view-view {
              // Top area
              &:first-of-type {
              }

              // Content area
              &:nth-of-type(3) {
                > .monaco-grid-branch-node {
                  > .monaco-split-view2.horizontal {
                    // Divider
                    > .sash-container {
                      > .monaco-sash {
                        &:first-of-type {
                        }

                        &:nth-of-type(2) {
                          transform: translateX(4px);
                        }

                        &:last-of-type {
                          transform: translateX(-4px);
                        }
                      }
                    }

                    > .monaco-scrollable-element {
                      > .split-view-container {
                        > .split-view-view {
                          // Left menu area
                          &:first-of-type {
                            > .part {
                              > .content {
                                > div {
                                  > .monaco-action-bar {
                                    > .actions-container {
                                      padding: 0 $base-gap;

                                      > .action-item {
                                        width: 32px !important;
                                        height: 32px !important ;
                                        margin-bottom: 6px !important;

                                        border-radius: 4px !important;

                                        &.checked {
                                          @include universal-color(
                                            "background-color",
                                            0.2
                                          );
                                        }

                                        > .action-label {
                                          width: 100% !important;
                                          height: 100% !important;

                                          font-size: 16px !important;
                                          font-weight: bold !important;

                                          &.uri-icon {
                                            padding: 0 !important;

                                            mask-size: 16px !important;
                                          }
                                        }

                                        > .active-item-indicator {
                                          display: none;
                                        }

                                        > .badge {
                                          > .badge-content {
                                            top: unset !important;
                                            right: 2.5px !important;
                                            bottom: 3px !important;

                                            min-width: 6px !important;
                                            height: 12px !important;
                                            padding: 0 4px;

                                            border-radius: 12px !important;

                                            font-size: 10px !important;
                                            font-weight: 500 !important;
                                            line-height: 12px !important;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }

                          // Left sidebar area
                          &:nth-of-type(2) {
                            &.visible {
                              + .split-view-view {
                                padding-left: $base-gap;
                              }
                            }

                            > .part {
                              border: none !important;
                              border-radius: $base-gap;
                            }
                          }

                          // Core area
                          &:nth-of-type(3) {
                            box-sizing: border-box !important;
                            padding-right: $base-gap;

                            > .monaco-grid-branch-node {
                              > .monaco-split-view2.vertical {
                                // Divider
                                > .sash-container {
                                  > .monaco-sash {
                                    transform: translateY(4px);
                                  }
                                }

                                > .monaco-scrollable-element {
                                  > .split-view-container {
                                    > .split-view-view {
                                      > .part {
                                        border-radius: $base-gap;
                                      }

                                      // Editor area
                                      &:first-of-type {
                                        > .part {
                                          height: calc(100% - 8px) !important;
                                          > .content {
                                            > .grid-view-container {
                                              > .monaco-grid-view {
                                                > .monaco-grid-branch-node {
                                                  > .monaco-split-view2 {
                                                    > .monaco-scrollable-element {
                                                      > .split-view-container {
                                                        > .split-view-view {
                                                          > .editor-group-container {
                                                            > .tabs {
                                                              box-sizing: border-box !important;
                                                              padding: $base-gap;

                                                              border-bottom: 1px
                                                                solid;
                                                              background-color: transparent !important;

                                                              --editor-group-tab-height: 28px !important;
                                                              @include universal-color(
                                                                "border-bottom-color",
                                                                0.08
                                                              );

                                                              > .tabs-and-actions-container {
                                                                > .monaco-scrollable-element {
                                                                  > .tabs-container {
                                                                    gap: 4px !important;
                                                                    > .tab {
                                                                      border: 1px
                                                                        solid
                                                                        transparent !important;
                                                                      &.active {
                                                                        border-radius: 4px !important;

                                                                        @include universal-color(
                                                                          "border-color",
                                                                          0.08
                                                                        );
                                                                        @include universal-color(
                                                                          "background-color",
                                                                          0.15
                                                                        );
                                                                      }

                                                                      > .monaco-icon-label {
                                                                        > .monaco-icon-label-container {
                                                                          > .monaco-icon-name-container {
                                                                            > .label-name {
                                                                              font-size: 14px !important;
                                                                              font-weight: 500 !important;
                                                                            }
                                                                          }
                                                                        }
                                                                      }

                                                                      > .tab-actions {
                                                                        > .monaco-action-bar {
                                                                          > .actions-container {
                                                                            > .action-item {
                                                                              > a {
                                                                                font-weight: bold !important;
                                                                              }
                                                                            }
                                                                          }
                                                                        }
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              }

                                                              > .breadcrumbs-below-tabs {
                                                                > .breadcrumbs-control {
                                                                  padding-top: $base-gap;

                                                                  > .monaco-scrollable-element {
                                                                    > .monaco-breadcrumbs {
                                                                      > .monaco-breadcrumb-item {
                                                                        &::before {
                                                                          width: 0 !important;
                                                                        }
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }

                                      // Terminal area
                                      &:last-of-type {
                                        > .part {
                                          height: 100% !important;
                                          > .title {
                                            border: none !important;
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }

                          // Chat area
                          &:last-of-type {
                            box-sizing: border-box !important;
                            padding-right: $base-gap;

                            > .part {
                              border: none !important;
                              border-radius: $base-gap;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              // Bottom area
              &:last-of-type {
                @include universal-color("background-color", 0.1);

                .part {
                  color: #9599a6 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
